div#head {
    background-color: rgb(240,240,240);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 20px;
    right: 0px;
}

    div#head div {
        height: 16px;
        font-size: 16px;
        float: left;
        padding: 0;
        margin: 0;
        text-align: center;
        color: black;
        font-size: 10px;
        padding: 2px 5px;
    }

        div#head div:hover {
            background-color: #444;
            color: white;
        }

div#main {
    background-color: #000000;
    position: fixed;
    top: 20px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-top: solid 2px white;
}

    div#main div {
        background-color: #6cF;
    }

div#movie_box {
    position: absolute;
    top: 0px;
    left: 160px;
    right: 0px;
    height: 600px;
}

div#select_box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 100%;
    overflow: scroll;
}

    div#select_box div {
        height: 50px;
        width: 100%;
        background-color: darkgrey;
        box-shadow: -1px -1px 1px 0px black inset;
    }

        div#select_box div:hover {
            background-color: #666;
            box-shadow: -1px -1px 2px 0px white inset;
        }

div#bar_box {
    position: absolute;
    top: 480px;
    left: 160px;
    right: 0px;
    height: 30px;
}

    div#bar_box a {
        position: static;
        font-size: 12px;
        background-color: rgb(248,248,248);
        margin: 3px;
        padding: 1px 6px;
        border: 1px solid rgb(211,211,211);
        border-radius: 3px;
    }    div#bar_box a:hover {
        background-color: rgb(211,211,211);
    }

div#output_box {
    position: absolute;
    top: 600px;
    bottom: 0px;
    left: 160px;
    right: 0px;
    border: solid 1px yellow;
    overflow-y: scroll;
}
